{% extends 'base.html.twig' %}

{% block title %} {{parent() }} | Ajouter un nouvel utilisateur{% endblock %}

{% block body %}

<h1>Création d'un nouveau partenaire</h1>

{{ form(form) }}


{% endblock %}